<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.estifie.balances</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/estifie/.local/bin/est-balances</string>
    </array>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>StandardOutPath</key>
    <string>/tmp/est-balances.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/est-balances.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/Users/estifie/.local/bin</string>
    </dict>
</dict>
</plist>
